snippet req "Require" b
$1 = require "$2"
endsnippet


snippet reqbb "Require Backbone and Co" b
Backbone = require "backbone"
Backbone.$ = require "jquery"
Backbone.Marionette = require "backbone.marionette"
endsnippet
